.jscroll-loading{
	text-align: center;
	img{
		width: 40px;
	}
}

.icons-footer{
	.icon-item{
		text-align:center;
		i{
			font-size: 3em;
		}
		h3{
			font-size: 1.3em;
		}
		ul{
			list-style: none;
			padding-left: 0px;
			p{
				font-size: 16px;
			}
		}
	}
}