<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template Informativo</title>
    <link rel="shortcut icon" href="../../favicon.ico">

    <!-- STYLE SHEETS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../src/css/templates.css" rel="stylesheet">
    <link href="../../dist/css/roboto-fontface.css" rel="stylesheet">
    <link href="../../dist/css/poncho.min.css" rel="stylesheet">
    <link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../../img/argentinagob.svg" height="50" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Desplegable <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="#">Link</a></li>
            <li>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="bg-primary container-fluid">
      <div class="container">
        <div class="form-group m-t-2 m-b-2">
          <div class="input-group big-search">
            <input placeholder="Buscar..." class="form-control" type="text">
            <span class="input-group-btn" style="border-radius:0px;">
              <button class="btn btn-default" style="border:none; border-radius:0px; height:54px;" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
</header>

  <main role="main">
    <div class="container">
      
      <section>
        <h4 class="text-muted m-b-3">NOVEDADES</h4>
        <div class="row">
          <div class="col-md-6">
            <a class="panel panel-default panel-md" href="#">
              <div style="background-image:url('../../img/termotanque.jpg');" class="panel-heading"></div>
              <div class="panel-body">
                <time>9 de enero del 2017</time>
                <h4>La primera fábrica de termotanques solares de Corrientes</h4>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a class="panel panel-default panel-md" href="#">
              <div style="background-image:url('../../img/chata-descartable.jpg');" class="panel-heading"></div>
              <div class="panel-body">
                <time>21 de diciembre del 2016</time>
                <h4>Dos emprendedores argentinos ayudan a reducir el riesgo de contagio con una chata descartable</h4>
              </div>
            </a>
          </div>

          <div class="scroll">
          
            <div class="col-md-4">
              <a class="panel panel-default panel-md" href="#">
                <div style="background-image:url('../../img/papas.jpg');" class="panel-heading"></div>
                <div class="panel-body">
                  <time>27 de octubre del 2016</time>
                  <h4>Aumentó la exportación de productos regionales</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a class="panel panel-default panel-md" href="#">
                <div style="background-image:url('../../img/catamarca.jpg');" class="panel-heading"></div>
                <div class="panel-body">
                  <time>13 de octubre del 2016</time>
                  <h4>Catamarca Agroemprende 2016</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a class="panel panel-default panel-md" href="#">
                <div style="background-image:url('../../img/solarmate.jpg');" class="panel-heading"></div>
                <div class="panel-body">
                  <time>5 de octubre del 2016</time>
                  <h4>Un termo calienta agua con energía solar</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a class="panel panel-default panel-md" href="#">
                <div style="background-image:url('../../img/termotanque.jpg');" class="panel-heading"></div>
                <div class="panel-body">
                  <time>9 de enero del 2017</time>
                  <h4>La primera fábrica de termotanques solares de Corrientes</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a class="panel panel-default panel-md" href="#">
                <div style="background-image:url('../../img/chata-descartable.jpg');" class="panel-heading"></div>
                <div class="panel-body">
                  <time>21 de diciembre del 2016</time>
                  <h4>Dos emprendedores argentinos ayudan a reducir el riesgo</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a class="panel panel-default panel-md" href="#">
                <div style="background-image:url('../../img/papas.jpg');" class="panel-heading"></div>
                <div class="panel-body">
                  <time>27 de octubre del 2016</time>
                  <h4>Aumentó la exportación de productos regionales</h4>
                </div>
              </a>
            </div>

            <div class="col-md-4">
              <a class="btn btn-link" href="novedades/page-2.html">Ver más...</a>
            </div>
          </div>

        </div>
      </section>
      <section>
        <div class="row icons-footer">
          <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
              <div class="icon-item">
                  <i class="fa fa-users text-success"></i>
                  <h3>El Ministerio</h3>
                  <ul>
                    <li>Misión</li>
                    <li>El Ministro</li>
                    <li>Organigrama</li>
                    <li>Secretarías</li>
                    <li>Subsecretarías</li>
                  </ul>
              </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
              <div class="icon-item">
                  <i class="fa fa-search text-primary"></i>
                  <h3>Trámites y Servicios</h3>
                  <ul>
                    <li>Misión</li>
                    <li>El Ministro</li>
                    <li>Organigrama</li>
                    <li>Secretarías</li>
                    <li>Subsecretarías</li>
                  </ul>
              </div>
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
              <div class="icon-item">
                  <i class="fa fa-users"></i>
                  <h3>Contacto</h3>
                  <ul>
                    <li>Misión</li>
                    <li>El Ministro</li>
                    <li>Organigrama</li>
                    <li>Secretarías</li>
                    <li>Subsecretarías</li>
                  </ul>
              </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <!--position:fixed; bottom:-10px; width:100%; padding-top:40px;-->

  <footer class="main-footer bg-primary" style="">
    <div class="container">
      <p>2016 | Ministerio de Producción | Hipólito Yrigoyen 250 | (C1086AAB)<br>CABA | Tel. 0800.333.7963</p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="../../assets/js/jquery.jscroll.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    $('.scroll').jscroll({
      autoTrigger: false,
      loadingHtml: '<img class="loader" src="../../img/loader.gif"><img>'
    });
  </script>

</body>
</html>



