<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template Animado</title>
    <link rel="shortcut icon" href="favicon.ico">

    <!-- STYLE SHEETS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/roboto-fontface.css" rel="stylesheet">
    <link href="css/poncho.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/media-kit.css" rel="stylesheet">
</head>
<body>

  <header id="header">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Burger</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#"><img src="img/logoMinisterio.png" height="50" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EL MINISTERIO <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.produccion.gob.ar/institucional/mision/">MISIÓN</a></li>
                      <li><a href="http://www.produccion.gob.ar/institucional/el-ministro/">EL MINISTRO</a></li>
                      <li><a href="http://www.produccion.gob.ar/institucional/organigrama/">ORGANIGRAMA</a></li>
                      <li><a href="http://www.produccion.gob.ar/institucional/secretarias/secretaria-de-industria-2/">SECRETARIAS</a></li>
                      <li><a href="http://www.produccion.gob.ar/institucional/subsecretarias/secretaria-de-industria/">SUBSECRETARIAS</a></li>
                      <li><a href="http://www.produccion.gob.ar/casasdelaproduccion/">CASAS DE LA PRODUCCIÓN</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TRÁMITES <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.produccion.gob.ar/guia-de-tramites/">TODOS</a></li>
                      <li><a href="http://www.produccion.gob.ar/tramites-de-pymes/">PYME</a></li>
                      <li><a href="http://www.produccion.gob.ar/tramites-de-emprendedores/">EMPRENDEDOR</a></li>
                      <li><a href="http://www.produccion.gob.ar/tramites-de-consumidor/">CONSUMIDOR</a></li>
                      <li><a href="http://www.produccion.gob.ar/tramites-comercio/">COMERCIO</a></li>
                      <li><a href="http://www.produccion.gob.ar/tramites-de-industria/">INDUSTRIA</a></li>
                      <li><a href="http://www.produccion.gob.ar/instituciones-productivas/">INSTITUCIONES</a></li>
                    </ul>
                  </li>
                    <li><a href="http://www.produccion.gob.ar/sala-de-prensa/comunicados/">SALA DE PRENSA</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </div>
    </nav>
  </header>


  <section id="section-0" class="jumbotron intro fixed full-height" style="background-image: url('img/modernizacion.jpg');">
    <div class="jumbotron_body text-center">
      <div class="container">
        <div class="row">
          <div class="animated-fade-in col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>Hola mundo!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt enim tempora at voluptas labore asperiores blanditiis similique laudantium placeat molestiae aut quam nisi sint atque, ullam consequuntur perspiciatis eum fuga.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="next-section white text-center">
      <a class="" href="#section-1"><i class="fa-arrow-down fa"></i></a>
    </div>
  </section>

  <section id="section-1" class="animated-item-container img-and-text full-height" tabindex="-1">
    <div class="animated ">
      <div class="col-sm-4 background-img bring-from-left" style="background-image:url(img/automotriz0-1.jpg)"></div>
      <div class="col-sm-8 col-xs-12 text-left text-container bring-from-right">
        <h2 class="text-primary">Un millón de argentinos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ul>
                    <li>Sed ut perspiciatis unde omnis iste natus</li>
                    <li>Et quasi architecto beatae vitae dicta sunt explicabo.</li>
                    <li>Ut enim ad minima veniam.</li>
                </ul>
                <div class="m-t-4">
                  <button class="btn-primary btn btn-lg">Llame ya!</button>
                </div>
      </div>
    </div>
    <div class="text-center next-section">
      <a class="" href="#section-2"><i class="fa-arrow-down fa"></i></a>
    </div>
  </section>

  <section id="section-2" class="infografia" tabindex="-1">
    <div class="container-fluid">
      <img src="img/infografia-placeholder.jpg" alt="" class="img-responsive hidden-md hidden-sm hidden-xs">
      <img src="img/tablet.jpg" alt="" class="img-responsive hidden-lg hidden-xs">
      <img src="img/mobile.jpg" alt="" class="img-responsive hidden-lg hidden-md hidden-sm">
    </div>
    <div class="next-section text-center">
      <a class="" href="#section-3"><i class="fa-arrow-down fa"></i></a>
    </div>
  </section>

  <section id="section-3" class="jumbotron fixed full-height" style="background-image: url('img/llamas.jpg');">
    <div class="jumbotron_body text-center">
      <div class="container">
        <div class="row">
          <div class="animated-fade-in col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>Hola mundo!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt enim tempora at voluptas labore asperiores blanditiis similique laudantium placeat molestiae aut quam nisi sint atque, ullam consequuntur perspiciatis eum fuga.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="next-section white text-center">
      <a class="" href="#section-4"><i class="fa-arrow-down fa"></i></a>
    </div>
  </section>

  <section id="section-4" class="animated-item-container numeros-destacados full-height" tabindex="-1">
    <div class="container">
      <h2>Radiografía Productiva</h2>
      <div class="row numbers animated-many-to-left text-left">
        <div class="bg-primary numbers-panel animated-item col-xs-12 col-sm-6 col-md-3">
          <div class="h2 "> 70.394</div>
          <p>trabajadores vinculados directamente al sector</p>
        </div>
        <div class="bg-gray numbers-panel animated-item col-xs-12 col-sm-6 col-md-3">
          <div class="h2 "> 493.003</div>
          <p>vehículos producidos en 2016</p>
        </div>
        <div class="bg-primary numbers-panel animated-item col-xs-12 col-sm-6 col-md-3">
          <div class="h2 "> 60 <small class=""> %</small> </div>
          <p>de los trabajadores vinculados a producción de autopartes</p>
        </div>
        <div class="bg-gray numbers-panel animated-item col-xs-12 col-sm-6 col-md-3">
          <div class="h2 "> 709.982</div>
          <p>patentamientos en 2016</p>
        </div>
        <div class="bg-primary numbers-panel animated-item col-xs-12 col-sm-6 col-md-3 col-md-push-9">
          <div class="feature-icon"><i class="fa fa-balance-scale"></i></div>
          <p>empresas autopartistas</p>
        </div>
        <div class="bg-gray numbers-panel animated-item col-xs-12 col-sm-6 col-md-3 col-md-pull-3">
          <div class="feature-icon"><i class="fa fa-gear"></i></div>
          <p>terminales automotrices radicadas en Argentina</p>
        </div>
        <div class="bg-primary numbers-panel animated-item col-xs-12 col-sm-6 col-md-3 col-md-pull-3">
          <div class="feature-icon"><i class="fa fa-globe"></i></div>
          <p>concentran la fabricación de vehículos: Córdoba, Santa fe y Buenos Aires</p>
        </div>
        <div class="bg-gray numbers-panel animated-item col-xs-12 col-sm-6 col-md-3 col-md-pull-3">
          <div class="feature-icon"><i class="fa fa-camera"></i></div>
          <p>de la producción destinada al mercado externo</p>
        </div>
      </div>
    </div>
    <div class="next-section text-center">
      <a class="" href="#section-5"><i class="fa-arrow-down text-primary fa"></i></a>
    </div>
  </section>

  <section id="section-5" class="jumbotron fixed full-height" style="background-image: url('img/llamas.jpg');">
    <div class="jumbotron_body text-center">
      <div class="container">
        <div class="row">
          <div class="animated-fade-in col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>Hola mundo!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt enim tempora at voluptas labore asperiores blanditiis similique laudantium placeat molestiae aut quam nisi sint atque, ullam consequuntur perspiciatis eum fuga.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="next-section white text-center">
      <a class="" href="#section-6"><i class="fa-arrow-down fa"></i></a>
    </div>
  </section>

  <section id="section-6" class="full-height">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-primary">Un millón de argentinos</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="m-t-4">
                    <button class="btn-primary btn btn-lg">Llame ya!</button>
                  </div>
        </div>
        <div class="col-md-8">
          <table class="m-t-2 text-center table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Lorem</th>
                <th class="text-center">Ipsum</th>
                <th class="text-center">Sit Amet</th>
                <th class="text-center">Dolor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Consectetur</td>
                <td class="text-primary">72 hs</td>
                <td>$10.000</td>
                <td><span class="icon-badge bg-success"><a href="#"><i class="fa-angle-right fa"></i></a></span></td>
              </tr>
              <tr>
                <td>Excepteur</td>
                <td class="text-primary">150 hs</td>
                <td>$25.000</td>
                <td><span class="icon-badge bg-success"><a href="#"><i class="fa-angle-right fa"></i></a></span></td>
              </tr>
              <tr>
                <td>Adipiscing</td>
                <td class="text-primary">27 hs</td>
                <td>$15.000</td>
                <td><span class="icon-badge bg-success"><a href="#"><i class="fa-angle-right fa"></i></a></span></td>
              </tr>
              <tr>
                <td>Cupidatat</td>
                <td class="text-primary">92 hs</td>
                <td>$30.000</td>
                <td><span class="icon-badge bg-success"><a href="#"><i class="fa-angle-right fa"></i></a></span></td>
              </tr>
              <tr>
                <td>Consectetur</td>
                <td class="text-primary">72 hs</td>
                <td>$10.000</td>
                <td><span class="icon-badge bg-success"><a href="#"><i class="fa-angle-right fa"></i></a></span></td>
              </tr>
              <tr>
                <td>Excepteur</td>
                <td class="text-primary">150 hs</td>
                <td>$25.000</td>
                <td><span class="icon-badge bg-success"><a href="#"><i class="fa-angle-right fa"></i></a></span></td>
              </tr>
              <tr>
                <td>Adipiscing</td>
                <td class="text-primary">27 hs</td>
                <td>$15.000</td>
                <td><span class="icon-badge bg-success"><a href="#"><i class="fa-angle-right fa"></i></a></span></td>
              </tr>
              <tr>
                <td>Cupidatat</td>
                <td class="text-primary">92 hs</td>
                <td>$30.000</td>
                <td><span class="icon-badge bg-success"><a href="#"><i class="fa-angle-right fa"></i></a></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="next-section text-center">
      <a class="" href="#section-7"><i class="fa-arrow-down fa"></i></a>
    </div>
  </section>

  <section id="section-7" class="img-and-text animated-item-container full-height bg-primary focusable" tabindex="-1">
    <div class="">
      <div class="col-sm-5 col-sm-push-7 background-img bring-from-right" style="background-image:url(img/automotriz1-1.jpg)"></div>
      <div class="text-container col-sm-pull-5 col-sm-7 col-xs-12 text-left bring-from-left">
        <h2>Metas y compromisos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <ul>
                  <li>Sed ut perspiciatis unde omnis</li>
                  <li>At vero eos et accusamus et iusto odio</li>
                  <li> Nam libero tempore, cum soluta nobis est</li>
                  <li>Itaque earum rerum hic tenetur a sapiente delectus</li>
              </ul>
        </div>
    </div>
    <div class="white next-section text-center">
      <a href="#section-8"><i class="fa-arrow-down fa"></i></a>
    </div>
  </section>

  <section id="section-8" class="contact-us full-height">
    <div class="container">
      <div class="text-center">
        <h2>Tu opinión importa!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <form class="m-t-4">
        <div class="row">
          <div class="col-md-6">
            <input class="form-control input-lg" type="text" placeholder="Nombre"></input>
          </div>
          <div class="col-md-6">
            <input class="form-control input-lg" type="text" placeholder="Email"></input>
          </div>
          <div class="col-xs-12">
            <textarea class="form-control" rows="8" placeholder="Mensaje..."></textarea>
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-primary submit-form">
          </div>
        </div>
      </form>
    </div>
    <div class="next-section text-center">
      <a class="" href="#header"><i class="fa-arrow-up fa"></i></a>
    </div>

  </section>

<!--
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <p>2016 | Ministerio de Producción | Hipólito Yrigoyen 250 | (C1086AAB)<br>CABA | Tel. 0800.333.7963</p>
        </div>
        <div class="col-sm-4 text-right">
          <img height="50" src="img/logoMinisterio.png">
        </div>
      </div>
    </div>
  </footer>
-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script>

    // IOS FIX FOR FULL HEIGHT JUMBO
    if ($(window).width() < 769) {

      var bg = $(".intro");
      function resizeBackground() {
          bg.css('height', window.innerHeight - 64);
          bg.css('min-height', window.innerHeight - 64);
      }

      resizeBackground();
    };

  </script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/activateAnimations.js" type="text/javascript"></script>
  <script src="js/custom.js" type="text/javascript"></script>

</body>
</html>
