<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/poncho.css">
  <link rel="stylesheet" href="css/style-poncho.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link href="css/icono-arg.css" rel="stylesheet">


</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" style="overflow: visible;" href="##"><img src="img/logoministerio.png" height="50" alt=""></a>
            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Burger</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="##" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EL MINISTERIO <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://www.produccion.gob.ar/institucional/mision/">MISIÓN</a></li>
                  <li><a href="http://www.produccion.gob.ar/institucional/el-ministro/">EL MINISTRO</a></li>
                  <li><a href="http://www.produccion.gob.ar/institucional/organigrama/">ORGANIGRAMA</a></li>
                  <li><a href="http://www.produccion.gob.ar/institucional/secretarias/secretaria-de-industria-2/">SECRETARIAS</a></li>
                  <li><a href="http://www.produccion.gob.ar/institucional/subsecretarias/secretaria-de-industria/">SUBSECRETARIAS</a></li>
                  <li><a href="http://www.produccion.gob.ar/casasdelaproduccion/">CASAS DE LA PRODUCCIÓN</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="##" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TRÁMITES <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://www.produccion.gob.ar/guia-de-tramites/">TODOS</a></li>
                  <li><a href="http://www.produccion.gob.ar/tramites-de-pymes/">PYME</a></li>
                  <li><a href="http://www.produccion.gob.ar/tramites-de-emprendedores/">EMPRENDEDOR</a></li>
                  <li><a href="http://www.produccion.gob.ar/tramites-de-consumidor/">CONSUMIDOR</a></li>
                  <li><a href="http://www.produccion.gob.ar/tramites-comercio/">COMERCIO</a></li>
                  <li><a href="http://www.produccion.gob.ar/tramites-de-industria/">INDUSTRIA</a></li>
                  <li><a href="http://www.produccion.gob.ar/instituciones-productivas/">INSTITUCIONES</a></li>
                </ul>
              </li>
              <li><a href="http://www.produccion.gob.ar/sala-de-prensa/comunicados/">SALA DE PRENSA</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </div>
    </nav>

  </header>
  <title>Página con navegador</title>

  <main class="main" role="main">

    <div class="container p-b-3">

      <div class="row">
        <div id="sidebar" class="col-md-4 hidden-sm-down">
          <div id="nav-anchor"></div>
          <nav id="side-nav">
            <h5 class="text-muted">Indice</h5>
            <ul class="nav nav-pills nav-stacked">
              <li class="index-item"><a href="#requisitos" class="text-left"><strong>Requisitos </strong></a></li>
              <li class="index-item"><a href="#pasosASeguir" class="text-left"><strong>Pasos a seguir </strong></a></li>
              <li class="index-item"><a href="#descargas" class="text-left"><strong>Descargas </strong></a></li>
            </ul>
          </nav>
        </div>

        <div id="content" class="col-md-8">
          <section class="p-b-0">
            <h3 class="text-uppercase">Donec posuere elit quis lectus mollis, vitae rutrum felis tristique</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere elit quis lectus mollis, vitae rutrum felis tristique. Sed tincidunt diam eu ornare varius. Aliquam sed mi orci. Praesent finibus quam et nisi dignissim interdum. Phasellus elit odio, efficitur nec molestie finibus, feugiat at massa. Quisque ut mollis ante. Cras vulputate mauris a tincidunt tempus. Aliquam in diam neque. Nulla in quam sodales, varius purus vulputate, iaculis dolor.</section>
              <hr>

              <section id="indiceMobile" class="p-t-0 p-b-0 hidden-sm-up">
                <h5 class="text-muted">Indice</h5>
                <ul class="nav nav-pills nav-stacked">
                  <li class="index-item"><a href="#requisitos" class="text-left"><strong>Requisitos </strong></a></li>
                  <li class="index-item"><a href="#pasosASeguir" class="text-left"><strong>Pasos a seguir </strong></a></li>
                  <li class="index-item"><a href="#descargas" class="text-left"><strong>Descargas </strong></a></li>
                </ul>
              </section>


              <section id="requisitos"class="p-t-0 p-b-0">
                <h2>Requisitos</h2>
                <p><ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Donec posuere elit quis lectus mollis, vitae rutrum felis tristique. </li>
                  <li>Sed tincidunt diam eu ornare varius. Aliquam sed mi orci. </li>
                </ul></section>
                <section id="pasosASeguir"class="p-t-0 p-b-0">
                  <h2>Pasos a seguir</h2>
                  <p><ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere elit quis lectus mollis, <strong>vitae rutrum felis tristique</strong>. Sed tincidunt diam eu ornare varius.  </li>
                    <li>Aliquam sed mi orci. Praesent finibus quam et nisi dignissim interdum. Phasellus elit odio, efficitur nec molestie finibus, feugiat at massa.  </li>
                    <li>Quisque ut mollis ante. Cras vulputate mauris a tincidunt tempus. Aliquam in diam neque. Nulla in quam sodales, varius purus vulputate, iaculis dolor.</li>
                  </ol></section>
                  <section id="descargas"class="p-t-0 p-b-0">
                    <h2>Descargas</h2>
                    <p ><i class="fa fa-list text-muted"> </i> <a href="">Lorem ipsum</a> </p>
                    <p><i class="fa fa-align-justify text-muted"> </i> <a href="">Dolor sit amet</a> </p>
                    <p><i class="fa fa-download text-muted"> </i> <a href="">Consectetur adipiscing elit</a> </p></section>
                    <section id=""class="p-t-0 p-b-0">
                      <h2>También te puede interesar</h2>
                      <p ><a href="">Quisque ut mollis ante</a></p>
                      <p><a href="">Cras vulputate mauris a tincidunt tempus</a></p>
                      <p><a href="">Aliquam in diam neque</a></p>
                      <p><a href="">Nulla in quam sodales</a></p></section>
                    </div>
                  </div>

                </div>
                <span id="stop-anchor"></span>

              </main>

              <footer class="main-footer bg-primary" style="">
                <div class="container">
                  <p>2017 | Ministerio de Producción | Hipólito Yrigoyen 250 | (C1086AAB)<br>CABA | Tel. 0800.333.7963</p>
                </div>
              </footer>

              <script src="js/jquery.min.js"></script>
              <script src="js/bootstrap.min.js"></script>
              <script src="js/jquery.scrollto.js"></script>
              <script src="js/stickyNav.js"></script>

            </body></html>
