<div class="container">
<div class="col-sm-12 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<h3 class="m-t-4">Error 404</h3>
				<p class="">Te proponemos una página de error para todos los desarrollos del Ministerio.</p>
			</div>
		</div>
		<div class="m-t-4 col-lg-8">
			<img width="100%" src="img/templates/404.jpg">
		</div>
	</div>
	<div class="col-xs-12 text-right m-t-2">
		<a target="_blank" href="downloads/404.zip"><button type="button" class="btn btn-success">Descargar Template</button></a>
		<a target="_blank" href="templates/404.html"><button type="button" class="btn btn-primary">Ver demo</button></a>
	</div>
</div>
</div>
