<div class="container">
<div class="col-sm-12 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<h3 class="m-t-4">Derivador</h3>
				<p class="">Permite presentar y derivar a otras páginas dentro o fuera del sitio web del Ministerio. Funciona como una especie de catálogo para presentar varias herramientas o al mismo tiempo. Ejemplo: <a href="http://datos.gob.ar/">Portal de datos</a>.</p>
			</div>
		</div>
		<div class="m-t-4 col-lg-8">
			<img width="100%" src="img/templates/derivador.png">
		</div>
	</div>
	<div class="col-xs-12 text-right m-t-2">
		<a target="_blank" href="http://wip.noduscompany.com/produccion/downloads/derivador.zip"><button type="button" class="btn btn-success">Descargar Template</button></a>
		<a target="_blank" href="templates/derivador.html"><button type="button" class="btn btn-primary">Ver demo</button></a>
	</div>
</div>
</div>