<div class="container">
<div class="col-sm-12 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<h3 class="m-t-4">Informativo General</h3>
				<p class="">Para proyectos de ley (ley de emprendedores, BICs, etc.), regímenes con beneficios impositivos (incluye features como calculadoras o buscadores de nomenclaturas), líneas de tiempo, estilo infográfico-explicativo (que pueda destacar indicadores económicos o procesos productivos. Ej. <a href="http://www.produccion.gob.ar/preciostransparentes/">Precios Transparentes</a></p>
			</div>
		</div>
		<div class="m-t-4 col-lg-8">
			<img width="100%" src="img/templates/lanzamientos.png">
		</div>
	</div>
	<div class="col-xs-12 text-right m-t-2">
		<a target="_blank" href="http://wip.noduscompany.com/produccion/downloads/lanzamientos.zip"><button type="button" class="btn btn-success">Descargar Template</button></a>
		<a target="_blank" href="templates/informativos/lanzamientos.html"><button type="button" class="btn btn-primary">Ver demo</button></a>
	</div>
</div>
</div>