<div class="container">
<div class="col-sm-12 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<h3 class="m-t-4">Página Tradicional</h3>
				<p class="">Si tenés una estructura para comunicar diferentes bloques de información sobre un mismo tema o derivar a temáticas afines.<br>Sirve para presentar:</p>
				<ul class="p-l-2 p-b-2 list-disc">
					<li>Comunicados</li>
					<li>Noticias</li>
					<li>Informar sobre la existencia de programas institucionales. Ej. Agendas de desarrollo</li>
				</ul>
			</div>
		</div>
		<div class="m-t-4 col-lg-8">
			<img width="100%" src="img/templates/tradicional.png">
		</div>
	</div>
	<div class="col-xs-12 text-right m-t-2">
		<a target="_blank" href="downloads/tradicional.zip"><button type="button" class="btn btn-success">Descargar Template</button></a>
		<a target="_blank" href="templates/tradicional.html"><button type="button" class="btn btn-primary">Ver demo</button></a>
	</div>
</div>
</div>
